
table {
    border: 1px solid black;
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
}

.resizeImg{
    width: 200px;
    height: 200px;
    margin-left: 20%;
}

 #imgPesquisa{
        width: 200px;
        height: 200px;
 }

 #tabelaNomes tr:nth-child(odd) {
    background-color:#fff;
  }  
 #tabelaNomes tr:nth-child(even) {
    background-color:#ccc;
  } 