
table {
    border: 1px solid black;
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
}

.resizeImg{
    width: 200px;
    height: 200px;
    margin-left: 20%;
}

 #imgPesquisa{
        width: 200px;
        height: 200px;
 }

 #tabelaNomes tr:nth-child(odd) {
    background-color:#EDEDED;
  }  
 #tabelaNomes tr:nth-child(even) {
    background-color:#ED806E;
  } 

  .fields{
      border-color: red;
  }
  .legends{
      font-weight: 1000;
      font-family: sans-serif;
  }

  .buttons{
    font-weight: 700;
  }

  .resizeImgLista{
    width: 100px;
    height: 100px;
  }